# Ignore Drupal files
docroot/sites/*/settings.local.php
docroot/sites/*/files

# Ignore virtual environment and artifacts
.vagrant/
/artifacts/*

# Ignore npm dependencies
node_modules/
npm-debug.log

# Ignore generated CSS
*.sass-cache/
styleguide/*.sass-cache/
styleguide/source/code/css/*.css

# Ignore sculpin output
styleguide/output_dev/
styleguide/output_prod/

# Ignore XML Sitemap ID configuration.
conf/drupal/config/xmlsitemap.xmlsitemap.*.yml

# Vendor .git folders
docroot/modules/contrib/**/.git
