{#
/**
 * @file
 * Theme override to display the full view mode of the Press Release content type.
 */
 #}
{% extends 'node.html.twig' %}

{% block preContent %}
  {#{% include "@organisms/by-template/breadcrumbs.twig" %}#}
  {% include "@organisms/by-template/page-header.twig" %}
{% endblock %}

{% block main %}
  <div class="main-content main-content--two">
    <div class="page-content ma__announcement__page-content">
      {% if pageContent.pressStatus %}
        {% set pressStatus = pageContent.pressStatus %}
        {% include "@molecules/press-status.twig" %}
      {% endif %}
      {% if sidebar.contactList %}
        {% set contactList = sidebar.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% block pageContent %}
        {% if pageContent.video %}
          {% set video = pageContent.video %}
          {% include "@atoms/09-media/video.twig" %}
        {% endif %}
        {% if pageContent.richText %}
          {% set richText = pageContent.richText %}
          {% include "@organisms/by-author/rich-text.twig" %}
        {% endif %}
      {% endblock %}
      {% if pageContent.contactList %}
        {% set contactList = pageContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if pageContent.personalMessage %}
        {% set personalMessage = pageContent.personalMessage %}
        {% include "@organisms/by-author/personal-message.twig" %}
      {% endif %}
    </div>
    <aside class="sidebar ma__announcement__sidebar">
      {% if sidebar.contactList %}
        {% set contactList = sidebar.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if sidebar.linkList %}
        {% set linkList = sidebar.linkList %}
        {% include "@organisms/by-author/link-list.twig" %}
      {% endif %}
    </aside>
  </div>
{% endblock %}
{% block postContent %}
{% endblock %}
