{#
/**
 * @file
 * Theme override to display the full view mode of the Decision content type.
 */
 #}
{% extends 'node.html.twig' %}

{% block preContent %}
  {#{% include "@organisms/by-template/breadcrumbs.twig" %}#}
  {% include "@organisms/by-template/page-header.twig" %}
{% endblock %}

{% block main %}
<div class="main-content main-content--two ma__policy-advisory__top-contact">
  <div class="page-content">
    {% block pageContent %}
      {% if sideContent.contactList %}
        {% set contactList = sideContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
    {% endblock %}
  </div>
</div>
<div class="ma__policy-advisory__content">
  {% if sections.jumpLinks %}
    {% set jumpLinks = sections.jumpLinks %}
    {% include "@organisms/by-template/jump-links.twig" %}
  {% endif %}
  <div class="main-content main-content--two">
    <div class="page-content">
        {% for i in range(1, numOfSections) %}
          {% if sections[i]['title'] %}
            {% set richText = sections[i]['title'] %}
            {% include "@organisms/by-author/rich-text.twig" %}
          {% endif %}
          {% if sections[i]['richText'] %}
            {% set richText = sections[i]['richText'] %}
            {% include "@organisms/by-author/rich-text.twig" %}
          {% endif %}
        {% endfor %}
        {% if mainContent.formDownloads %}
          {% set formDownloads = mainContent.formDownloads %}
          {% include "@organisms/by-author/form-downloads.twig" %}
        {% endif %}
        {% if mainContent.contactList %}
          {% set contactList = mainContent.contactList %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
        {% if mainContent.footnoteList %}
          {% set footnoteList = mainContent.footnoteList %}
          {% include "@organisms/by-author/footnote-list.twig" %}
        {% endif %}
        {% if mainContent.references %}
          {% set headerTags = mainContent.references %}
          {% include "@molecules/header-tags.twig" %}
        {% endif %}
    </div>
    <aside class="sidebar">
      {% if sideContent.contactList %}
        {% set contactList = sideContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if sideContent.pressListing %}
        {% set pressListing = sideContent.pressListing %}
        {% include "@organisms/by-author/press-listing.twig" %}
      {% endif %}
      {% if sideContent.eventListing %}
        {% set eventListing = sideContent.eventListing %}
        {% include "@organisms/by-author/event-listing.twig" %}
      {% endif %}
    </aside>
  </div>
</div>
{% endblock %}
