{#
/**
 * @file
 * Theme override to display the full view mode of the Press Release content type.
 */
 #}
{% extends 'node.html.twig' %}

{% block preContent %}
  {#{% include "@organisms/by-template/breadcrumbs.twig" %}#}
  {% include "@organisms/by-template/page-header.twig" %}
{% endblock %}

{% block main %}
  <div class="main-content main-content--two">
    <div class="page-content ma__announcement__page-content">
      {% if pageContent.pressStatus %}
        {% set pressStatus = pageContent.pressStatus %}
        {% include "@molecules/press-status.twig" %}
      {% endif %}
      {% if sidebar.contactList %}
        {% set contactList = sidebar.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% block pageContent %}
        {% if pageContent.figure %}
          {% set figure = pageContent.figure %}
          {% include "@atoms/09-media/figure.twig" %}
        {% endif %}
        {% if pageContent.video %}
          {% set video = pageContent.video %}
          {% include "@atoms/09-media/video.twig" %}
        {% endif %}
        {% if pageContent.richText %}
          {% set richText = pageContent.richText %}
          {% include "@organisms/by-author/rich-text.twig" %}
        {% endif %}
        {% for i in range(1, numOfSections) %}
          {% if pageContent[i]['title'] %}
            {% set richText = pageContent[i]['title'] %}
            {% include "@organisms/by-author/rich-text.twig" %}
          {% endif %}
          {% if pageContent[i]['richText'] %}
            {% set richText = pageContent[i]['richText'] %}
            {% include "@organisms/by-author/rich-text.twig" %}
          {% endif %}
          {% if pageContent[i]['keyActions'] %}
            {% set keyActions = pageContent[i]['keyActions'] %}
            {% include "@organisms/by-author/key-actions.twig" %}
          {% endif %}
          {% if pageContent[i]['formDownloads'] %}
            {% set formDownloads = pageContent[i]['formDownloads'] %}
            {% include "@organisms/by-author/form-downloads.twig" %}
          {% endif %}
        {% endfor %}
      {% endblock %}
      {% if pageContent.contactList %}
        {% set contactList = pageContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if pageContent.personalMessage %}
        {% set personalMessage = pageContent.personalMessage %}
        {% include "@organisms/by-author/personal-message.twig" %}
      {% endif %}
    </div>
    <aside class="sidebar ma__announcement__sidebar">
      {% if sidebar.contactList %}
        {% set contactList = sidebar.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if sidebar.pressListing %}
        {% set pressListing = sidebar.pressListing %}
        {% include "@organisms/by-author/press-listing.twig" %}
      {% endif %}
      {% if sidebar.eventListing %}
        {% set eventListing = sidebar.eventListing %}
        {% include "@organisms/by-author/event-listing.twig" %}
      {% endif %}
    </aside>
  </div>
{% endblock %}
{% block postContent %}
{% endblock %}
