core/assets/vendor/**/*
core/modules/locale/tests/locale_test.js
vendor/**/*
sites/**/files/**/*
libraries/**/*
sites/**/libraries/**/*
profiles/**/libraries/**/*
**/js_test_files/**/*
docroot/themes/custom/mass_theme/js/*
docroot/themes/custom/mass_theme/libraries/jquery_once/*
docroot/themes/custom/mass_theme/libraries/browserupdate/js/*
docroot/themes/custom/mass_admin_theme/js/entity-embed-dialog-alter.js
docroot/themes/custom/mass_theme/overrides/js/googleMap.js
docroot/themes/custom/mass_theme/overrides/js/locationListing.js
docroot/themes/custom/mass_theme/overrides/js/resultsHeading.js
docroot/themes/custom/mass_theme/overrides/js/pagination.js
