#
# Apache/PHP/Drupal settings:
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|install|make|module|profile|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\.(?!well-known).*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig|\.save)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
  </IfModule>
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Add correct encoding for SVGZ.
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# Most of the following PHP settings cannot be changed at runtime. See
# sites/default/default.settings.php and
# Drupal\Core\DrupalKernel::bootEnvironment() for settings that can be
# changed at runtime.

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_value assert.active                   0
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
  # PHP 5.6 has deprecated $HTTP_RAW_POST_DATA and produces warnings if this is
  # not set.
  php_value always_populate_raw_post_data   -1
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Set a fallback resource if mod_rewrite is not enabled. This allows Drupal to
# work without clean URLs. This requires Apache version >= 2.2.16. If Drupal is
# not accessed by the top level URL (i.e.: http://example.com/drupal/ instead of
# http://example.com/), the path to index.php will need to be adjusted.
<IfModule !mod_rewrite.c>
  FallbackResource /index.php
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  #---- START of Edit Domain Settings Section ----
  ## Only allow certain IPs to access edit domain. ##

  # Only block things coming to the EDIT domain for Stage and Prod environments (note: Stage=test)
  # TEMP: Only enabled for Stage
  #RewriteCond %{HTTP_HOST} ^edit(\.stage|\.pilot)?\.mass\.gov$ [NC]
  RewriteCond %{HTTP_HOST} ^edit\.stage\.mass\.gov$ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$

  # -- START IPs from massds-devops/security/massgov-ip-whitelist.txt --
  # Commonwealth Employee IP addresses
  ## access gateways or ranges

  RewriteCond %{ENV:AH_Client_IP} !^65\.204\.38\.3$
  RewriteCond %{ENV:AH_Client_IP} !^65\.118\.148\.102$
  RewriteCond %{ENV:AH_Client_IP} !^65\.217\.255\.2$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '74.123.202.0/24'"
  RewriteCond %{ENV:AH_Client_IP} !^134\.241\.179\.254$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.8.0/24'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.68.0/24'"
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.84\.199$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.94.0/23'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.101.0/24'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.102.0/24'"
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.120\.1$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.185.0/24'"
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.67\.1$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.67\.30$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.67\.35$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.67\.40$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.182\.200$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.182\.201$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.182\.202$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.50/31'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.52/30'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.56/29'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.64/26'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.128/26'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.192/27'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.224/28'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.240/29'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.248/31'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.18.1.250/32'"
  RewriteCond %{ENV:AH_Client_IP} !^204\.58\.32\.254$
  RewriteCond %{ENV:AH_Client_IP} !^204\.130\.104\.10$

  ## START 146.243.15.143 – 146.243.15.239
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.15.143/32'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.15.144/28'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.15.160/27'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.15.192/27'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '146.243.15.224/28'"
  ## END 146.243.15.143 – 146.243.15.239

  ## individual IPs

  RewriteCond %{ENV:AH_Client_IP} !^96\.95\.185\.173$
  RewriteCond %{ENV:AH_Client_IP} !^134\.241\.179\.87$
  RewriteCond %{ENV:AH_Client_IP} !^146\.189\.104\.105$
  RewriteCond %{ENV:AH_Client_IP} !^146\.189\.105\.142$
  RewriteCond %{ENV:AH_Client_IP} !^146\.189\.168\.150$
  RewriteCond %{ENV:AH_Client_IP} !^146\.189\.175\.26$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.4\.34$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.7\.106$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.9\.75$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.9\.76$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.11\.89$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.11\.200$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.11\.201$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.22\.73$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.22\.89$

  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.22\.103$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.22\.112$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.22\.147$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.27\.202$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.27\.222$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.32\.143$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.45\.29$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.10$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.13$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.69$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.128$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.149$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.157$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.53\.207$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.55\.34$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.55\.68$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.55\.77$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.55\.79$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.81\.15$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.81\.83$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.81\.169$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.81\.176$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.82\.107$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.82\.191$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.82\.195$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.82\.210$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.91\.54$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.119\.135$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.127\.121$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.127\.169$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.132\.20$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.145\.118$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.153\.16$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.153\.24$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.153\.26$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.160\.4$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.215\.37$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.253\.7$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.253\.16$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.253\.18$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.253\.42$
  RewriteCond %{ENV:AH_Client_IP} !^146\.243\.253\.104$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.2\.193$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.10\.70$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.10\.72$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.51\.97$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.51\.111$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.51\.163$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.51\.212$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.54\.75$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.54\.114$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.57\.41$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.57\.220$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.57\.223$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.57\.224$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.57\.230$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.107\.71$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.41$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.55$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.67$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.94$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.119$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.121\.135$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.122\.36$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.199\.35$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.200\.67$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.200\.197$
  RewriteCond %{ENV:AH_Client_IP} !^170\.63\.229\.128$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.10\.219$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.10\.228$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.17\.98$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.100\.85$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.101\.88$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.101\.90$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.101\.125$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.102\.93$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.104\.22$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.104\.103$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.104\.104$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.104\.132$
  RewriteCond %{ENV:AH_Client_IP} !^170\.154\.117\.80$
  RewriteCond %{ENV:AH_Client_IP} !^174\.227\.0\.149$
  RewriteCond %{ENV:AH_Client_IP} !^198\.203\.239\.2$

  # Velir IP addresses:
  ## RCN
  RewriteCond %{ENV:AH_Client_IP} !^207\.180\.167\.130$
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '207.180.167.128/27'"
  ## Lightower
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.85.33.112/28'"
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '172.85.33.96/30'"
  ## XPointers
  ### 1:
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '113.193.188.138/32'"
  #### 2:
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '122.170.106.145/32'"
  #### 3:
  RewriteCond %{ENV:AH_Client_IP} !^113\.193\.31\.230$
  #### 4:
  RewriteCond %{ENV:AH_Client_IP} !^49\.248\.144\.74$
  ### ConRes #1:
  RewriteCond expr "! %{ENV:AH_Client_IP} -ipmatch '63.151.155.5/32'"

  # Palantir.net IP addresses:
  ## Atlanta
  RewriteCond %{ENV:AH_Client_IP} !^104\.223\.94\.74$

  ## Chicago
  RewriteCond %{ENV:AH_Client_IP} !^104\.129\.28\.170$

  ## Seattle
  RewriteCond %{ENV:AH_Client_IP} !^199\.229\.250\.110$

  # Acquia
  RewriteCond %{ENV:AH_Client_IP} !^104\.247\.39\.34$
  RewriteCond %{ENV:AH_Client_IP} !^40\.130\.238\.138$
  RewriteCond %{ENV:AH_Client_IP} !^207\.173\.24\.186$
  RewriteCond %{ENV:AH_Client_IP} !^50\.224\.63\.14$
  RewriteCond %{ENV:AH_Client_IP} !^80\.71\.2\.77$
  RewriteCond %{ENV:AH_Client_IP} !^66\.207\.219\.134$
  RewriteCond %{ENV:AH_Client_IP} !^208\.66\.24\.54$
  RewriteCond %{ENV:AH_Client_IP} !^50\.247\.79\.241$
  RewriteCond %{ENV:AH_Client_IP} !^59\.100\.22\.81$
  RewriteCond %{ENV:AH_Client_IP} !^14\.141\.169\.186$
  # -- END IPs from massds-devops/security/massgov-ip-whitelist.txt --

  # Redirect non-whitelisted IPs to www.mass.gov
  RewriteRule ^(.*)$ http://www.mass.gov [R=307,L]
  #---- END of Edit Domain Settings Section ----

  # Protect files and directories from prying eyes.
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule "\.(engine|inc|info|install|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl|svn-base)$|^(code-style\.pl|Entries.*|Repository|Root|Tag|Template|all-wcprops|entries|format)$" - [F]

  # Disallow various other files
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteCond %{REQUEST_URI} !^/sites/.+/files/
  RewriteRule (README\.txt|INSTALL\.txt|CHANGELOG\.txt|COPYRIGHT\.txt|INSTALL\.mysql\.txt|INSTALL\.pgsql\.txt|LICENSE\.txt|MAINTAINERS\.txt|UPGRADE\.txt) - [F]

  # Disallow admin paths
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule ^((admin|scripts|profile|includes|cron\.php|install\.php|update\.php|xmlrpc\.php)/?(.*)?)$ - [F]

  # Disallow access to the feed modules import path
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule ^(import/?(.*)?)$ - [F]

  # disable direct access to nodes with their canonical URLs
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule ^(node/?(.*)?)$ - [F]

  # Protect webform uploads
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule ^(sites/default/files/webform/?(.*)?)$ - [F]

  # Protect Taxonomy lists
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteRule ^(taxonomy/?(.*)?)$ - [F]

  # Make any PHP request a 404, except for our 404 page which is PHP and the main index
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteCond %{REQUEST_URI} !^/sites/default/themes/themename/404/page-not-found\.php
  RewriteCond %{REQUEST_URI} !^/index\.php
  RewriteCond %{REQUEST_URI} \.(php)$
  RewriteCond %{REQUEST_URI} !^404\.%1$
  RewriteRule ^(.*)$ 404.%1 [R=404,L]

  # All others where a file is missing
  RewriteCond %{HTTP_HOST} !^edit(\.stage|\.pilot)?\.mass\.[a-z]+ [NC]
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(test|prod)$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/sites/default/files/
  RewriteCond %{REQUEST_URI} \.(png|gif|jpe?g|s?html?|css|js|cgi|ico|swf|flv|dll)$
  RewriteCond %{REQUEST_URI} !^404.%1$
  RewriteRule ^(.*)$ 404.%1 [R=404,L]
  ##### End of Edit Domain Settings Section #####

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
   RewriteRule ^ - [E=protossl]
   RewriteCond %{HTTPS} on
   RewriteRule ^ - [E=protossl:s]

  # Redirect HTTP to HTTPS
  RewriteCond %{ENV:AH_SITE_ENVIRONMENT} ^(prod|test|dev|cd)$ [NC]
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\.(?!well-known)" - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/foo will be redirected to http://www.example.com/foo)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/foo will be redirected to http://example.com/foo)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /drupal
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Redirect common PHP files to their new locations.
  RewriteCond %{REQUEST_URI} ^(.*)?/(install.php) [OR]
  RewriteCond %{REQUEST_URI} ^(.*)?/(rebuild.php)
  RewriteCond %{REQUEST_URI} !core
  RewriteRule ^ %1/core/%2 [L,QSA,R=301]

  # Rewrite install.php during installation to see if mod_rewrite is working
  RewriteRule ^core/install.php core/install.php?rewrite=ok [QSA,L]

  # Pass all requests not referring directly to files in the filesystem to
  # index.php.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # For security reasons, deny access to other PHP files on public sites.
  # Note: The following URI conditions are not anchored at the start (^),
  # because Drupal may be located in a subdirectory. To further improve
  # security, you can replace '!/' with '!^/'.
  # Allow access to PHP files in /core (like authorize.php or install.php):
  RewriteCond %{REQUEST_URI} !/core/[^/]*\.php$
  # Allow access to test-specific PHP files:
  RewriteCond %{REQUEST_URI} !/core/modules/system/tests/https?.php
  # Allow access to Statistics module's custom front controller.
  # Copy and adapt this rule to directly execute PHP files in contributed or
  # custom modules or to run another PHP application in the same directory.
  RewriteCond %{REQUEST_URI} !/core/modules/statistics/statistics.php$
  # Deny access to any other PHP files that do not match the rules above.
  # Specifically, disallow autoload.php from being served directly.
  RewriteRule "^(.+/.*|autoload)\.php($|/)" - [F]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

# Various header fixes.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  Header always set X-Content-Type-Options nosniff
  # Disable Proxy header, since it's an attack vector.
  RequestHeader unset Proxy
</IfModule>
